annotated-types==0.7.0
anyio==4.14.2
click==8.4.2
fastapi==0.116.1
h11==0.16.0
httptools==0.8.0
idna==3.18
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
python-dotenv==1.1.1
PyYAML==6.0.3
starlette==0.47.3
typing-inspection==0.4.2
typing_extensions==4.16.0
uvicorn==0.35.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.1.1
